<div class="d-flex align-items-center border-bottom px-3 py-2 bg-white position-relative">
  <button id="scrollLeft" class="scroll-btn me-2 d-none" (click)="scrollLeft()">
    &lt;
  </button>

  <div id="categoryScroll" class="category-scroll d-flex align-items-center">
    @for (category of categories; track category) {
      <div class="category-item" (click)="onCategorySelected($event)">
        <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png" style="width:30px; height:30px;">
        <div style="font-size: 0.875rem;">{{ category }}</div>
      </div>
    }
  </div>

  <button id="scrollRight" class="scroll-btn ms-2" (click)="scrollRight()">
    &gt;
  </button>

  <button class="btn btn-outline-secondary ms-3">Filters</button>
</div>
