<div class="fixed-top d-flex align-items-center border-bottom px-3 py-2 bg-white" style="top: calc(8.5vh + 65px); z-index: 1030; margin-bottom: 0.5rem;">
  <button id="scrollLeft" class="scroll-btn me-2" (click)="scrollLeft()"><</button>

  <div id="categoryScroll" class="category-scroll d-flex align-items-center">
    @for (category of categories; track category) {
      <div class="category-item d-flex flex-column align-items-center justify-content-center" style="margin-right: 15px; margin-left: 15px;" (click)="onCategorySelected($event)">
        <fa-icon style="width: 30px; height: 30px;" [icon]="getCategoryIcon(category)"></fa-icon>
        <div class="text-center" style="font-size: 0.675rem;">{{ category.replace("_"," ") }}</div>
      </div>
    }
  </div>

  <button id="scrollRight" class="scroll-btn ms-2" (click)="scrollRight()">&gt;</button>

  <button class="btn btn-outline-primary ms-3">Filters</button>
</div>
