<app-header/>

<div style="padding-top: 8.5vh;"></div>

<!-- Background image -->
<div style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;
  background-image: url('/register.avif');background-size: cover;background-position: center;
  z-index: -1;"></div>

<div class="container py-4" style="max-width: 700px; width: 100%; background-color: #fff; padding: 25px 30px; border-radius: 5px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); margin-top: 40px; margin-bottom: 40px;">
  <!-- Title section -->
  <div class="title mb-4" style="font-size: 25px; font-weight: 500; position: relative;">
    Registration
    <span style="content: ''; position: absolute; left: 0; bottom: -3px; height: 3px; width: 30px; border-radius: 5px; background: linear-gradient(135deg, #1e3a8a, #a7c9f5);"></span>
  </div>

  <div class="content">
    <!-- Registration form -->
    <div class="user-details row">
      <!-- Input for Username -->
      <div class="col-md-6 mb-3">
        <div class="flex flex-col gap-1">
          <label for="username" class="form-label fw-medium">Username</label>
          <input
            pInputText
            id="username"
            placeholder="Username"
            [(ngModel)]="username"
            [ngClass]="{'ng-invalid ng-dirty': usernameErrors}"
            style="height: 45px; outline: none; font-size: 16px; border-radius: 5px; padding-left: 15px; border: 1px solid #ccc; border-bottom-width: 2px; transition: all 0.3s ease; width: 100%;"
          >
          @if (usernameErrors) {
            <p-message severity="error" variant="simple" size="small">{{ usernameErrorMessage }}</p-message>
          }
        </div>
      </div>

      <!-- Input for First Name -->
      <div class="col-md-6 mb-3">
        <div class="flex flex-col gap-1">
          <label for="firstName" class="form-label fw-medium">First Name</label>
          <input
            pInputText
            id="firstName"
            placeholder="First Name"
            [(ngModel)]="firstName"
            [ngClass]="{'ng-invalid ng-dirty': firstNameErrors}"
            style="height: 45px; outline: none; font-size: 16px; border-radius: 5px; padding-left: 15px; border: 1px solid #ccc; border-bottom-width: 2px; transition: all 0.3s ease; width: 100%;"
          >
          @if (firstNameErrors) {
            <p-message severity="error" variant="simple" size="small">{{ firstNameErrorMessage }}</p-message>
          }
        </div>
      </div>

      <!-- Input for Last Name -->
      <div class="col-md-6 mb-3">
        <div class="flex flex-col gap-1">
          <label for="lastName" class="form-label fw-medium">Last Name</label>
          <input
            pInputText
            id="lastName"
            placeholder="Last Name"
            [(ngModel)]="lastName"
            [ngClass]="{'ng-invalid ng-dirty': lastNameErrors}"
            style="height: 45px; outline: none; font-size: 16px; border-radius: 5px; padding-left: 15px; border: 1px solid #ccc; border-bottom-width: 2px; transition: all 0.3s ease; width: 100%;"
          >
          @if (lastNameErrors) {
            <p-message severity="error" variant="simple" size="small">{{ lastNameErrorMessage }}</p-message>
          }
        </div>
      </div>

      <!-- Input for Email -->
      <div class="col-md-6 mb-3">
        <div class="flex flex-col gap-1">
          <label for="email" class="form-label fw-medium">Email</label>
          <input
            pInputText
            id="email"
            placeholder="Email"
            [(ngModel)]="email"
            [ngClass]="{'ng-invalid ng-dirty': emailErrors}"
            style="height: 45px; outline: none; font-size: 16px; border-radius: 5px; padding-left: 15px; border: 1px solid #ccc; border-bottom-width: 2px; transition: all 0.3s ease; width: 100%;"
          >
          @if (emailErrors) {
            <p-message severity="error" variant="simple" size="small">{{ emailErrorMessage }}</p-message>
          }
        </div>
      </div>

      <!-- Input for Password -->
      <div class="col-md-6 mb-3">
        <div class="flex flex-col gap-1">
          <label for="password" class="form-label fw-medium">Password</label>
          <input
            pInputText
            type="password"
            id="password"
            placeholder="Password"
            [(ngModel)]="password"
            [ngClass]="{'ng-invalid ng-dirty': passwordErrors}"
            style="height: 45px; outline: none; font-size: 16px; border-radius: 5px; padding-left: 15px; border: 1px solid #ccc; border-bottom-width: 2px; transition: all 0.3s ease; width: 100%;"
          >
          @if (passwordErrors) {
            <p-message severity="error" variant="simple" size="small">{{ passwordErrorMessage }}</p-message>
          }
        </div>
      </div>

      <!-- Input for Password Confirmation -->
      <div class="col-md-6 mb-3">
        <div class="flex flex-col gap-1">
          <label for="passwordConfirmation" class="form-label fw-medium">Confirm Password</label>
          <input
            pInputText
            type="password"
            id="passwordConfirmation"
            placeholder="Password Confirmation"
            [(ngModel)]="confirmation"
            [ngClass]="{'ng-invalid ng-dirty': confirmationErrors}"
            style="height: 45px; outline: none; font-size: 16px; border-radius: 5px; padding-left: 15px; border: 1px solid #ccc; border-bottom-width: 2px; transition: all 0.3s ease; width: 100%;"
          >
          @if (confirmationErrors) {
            <p-message severity="error" variant="simple" size="small">{{ confirmationErrorMessage }}</p-message>
          }
        </div>
      </div>
    </div>

    <!-- Role Selection Section -->
    <div class="gender-details mt-3 mb-4 d-flex flex-column align-items-center">
      <label class="gender-title fs-5 fw-medium mb-2">Select Role</label>
      <p-selectbutton
        [options]="roles"
        [(ngModel)]="pickedRole"
        optionLabel="label"
        optionValue="value"
        aria-labelledby="basic"
        [ngClass]="{'ng-invalid ng-dirty': roleErrors}"
      ></p-selectbutton>
      @if (roleErrors) {
        <p-message severity="error" variant="simple" size="small">{{ roleErrorMessage }}</p-message>
      }
    </div>

    <!-- Submit button -->
    <div class="button mt-4" style="height: 45px;">
      <input
        type="submit"
        value="Register"
        class="btn w-100 h-100"
        (click)="register()"
        style="border-radius: 5px; border: none; color: #fff; font-size: 18px; font-weight: 500; letter-spacing: 1px; cursor: pointer; transition: all 0.3s ease; background: linear-gradient(135deg, #1e3a8a, #3b82f6, #a7c9f5);"
        onmouseover="this.style.background='linear-gradient(-135deg, #1e3a8a, #3b82f6, #a7c9f5)'"
        onmouseout="this.style.background='linear-gradient(135deg, #1e3a8a, #3b82f6, #a7c9f5)'"
      >
    </div>
  </div>
</div>
