<header class="fixed-top bg-light">
<nav class="navbar navbar-expand-lg" style="height: 8.5vh">
  <div class="container">
    <!-- Link to main view -->
    <a class="navbar-brand" [routerLink]="['/home']"><img src="/logo.svg" alt="OpenEarth" style="width: 25px; height: 25px; vertical-align: middle"/> OpenEarth</a>
    <!-- Button to collapse navbar -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar elements-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        @if(!isLoggedIn){
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        }
        @else{
          <li class="nav-item">
            <a class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Configuration</a>
          </li>
          @if(role == "HOSTESS"){
            <li class="nav-item">
              <a class="nav-link" routerLink="/registerHouse">Add house</a>
            </li>
          }
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Log out</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
</header>
