<header class="fixed-top bg-light">
<nav class="navbar navbar-expand-lg" style="height: 8.5vh">
  <div class="container">
    <!-- Link to main view -->
    <a class="navbar-brand"><img src="/logo.svg" alt="OpenEarth" style="width: 25px; height: 25px; vertical-align: middle"/> OpenEarth</a>
    <!-- Button to collapse navbar -->
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar elements-->
    <div class="collapse navbar-collapse" id="navbarCollapse">

    </div>
  </div>
</nav>
</header>
<div style="padding-top: 60px;"></div>
