<app-header #header/>
<app-search-bar #searchBar (location)="onLocationSearch($event)"/>
<app-filter #filter (filtersChanged)="onFiltersChanged($event)"/>

<div style="padding-top: calc(8.5vh + 2.5vw + 65px + 60px);"></div>

<!-- Button map-list -->
<div style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); background-color: #007bff; color: white; border-radius: 25px; padding: 10px 20px; font-size: 16px; cursor: pointer; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); z-index: 1000; width: 150px; text-align: center;" (click)="toggleView()">
  @if (showMap){
    <span>Show List</span>
  } @else {
    <span>Show Map</span>
  }
</div>

<!-- List view container -->
<div [style.display]="showMap ? 'none' : 'block'">
  <div class="container">
    <div class="row">
      @if(houses && houses.length > 0){
        @for (house of houses; track house.id) {
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-4">
            <app-card [house]="house"/>
          </div>
        }
      } @else {
        <div class="col-12">
          <p class="text-center" style="padding-top: 40px;">No exact matches</p>
          <p class="text-center">Try changing or removing some of your filters or adjusting your search area.</p>
        </div>
      }
    </div>
  </div>
</div>

<!-- Map view container -->
<div [style.position]="'fixed'"
     [style.top]="getTopOffset() + 'px'"
     [style.left]="0"
     [style.right]="0"
     [style.bottom]="0"
     [style.zIndex]="5"
     [style.transition]="'transform 0.5s ease-in-out'"
     [style.transform]="showMap ? 'translateY(0)' : 'translateY(100%)'"
     [style.background]="'white'">
  <app-map [houses]="houses" [isInteractive]="false" [style.height]="'100%'" [style.display]="'block'"/>
</div>
