<p-card styleClass="review-card">
  <div class="review-container">
    <!-- Cabecera con la información del usuario -->
    <div class="user-info">
      <div class="user-avatar">
        <img [src]="userPicture" [alt]="username" class="user-image" onError="this.src='./defaultUser.jpg'">
      </div>
      <div class="user-details">
        <div class="user-name">
          <a [routerLink]="['/user', userId]" class="username-link">{{ username }}</a>
        </div>
      </div>
    </div>
    <div class="review-content">
      <div class="review-comment">
        {{ review.comment }}
      </div>
    </div>
  </div>
</p-card>
