<app-header/>
<div class="d-flex flex-row justify-content-center bg-cover bg-center w-100 position-relative" style="height: 84vh; margin-top: 4.5vh;">
  <div class="d-flex flex-row justify-content-between align-items-center w-75" style="min-width: 100%">
    <div style="background: url('/login.png') no-repeat center center;
                min-height: 100vh; min-width: 40%;">
    </div>
    <!-- Contenido -->
    <div class="d-flex align-items-center justify-content-center position-relative card border-1" style="height: 75vh; min-width: 35%; margin-right: 12.5%; border: 1px black; box-shadow: 0 0 20px rgba(0,0,0,0.3)">


      <!-- Display error message if exists -->
      <div class="card flex justify-center">
        <p-toast position="bottom-right" key="err"></p-toast>
      </div>


      <div class="justify-content-center align-items-center surface-card bg-white p-4 shadow-2 border-round w-full lg:w-6">
        <h1 class="text-center text-black">Login</h1>
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
          <span class="text-600 font-medium line-height-3">Don't have an account?</span>
          <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/register">Create today!</a>
        </div>

        <div class="d-flex flex-column">
          <label for="email1" class="block text-900 font-medium mb-2">Email</label>
          <input id="email1" type="text" placeholder="Email address" pInputText class="w-full mb-3" #emailInput>

          <label for="password1" class="block text-900 font-medium mb-2">Password</label>
          <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3" #passwordInput>


          <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
              <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
              <label for="rememberme1" class="text-900">Remember me</label>
            </div>
            <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot password?</a>
          </div>

          <button pButton pRipple class="w-full" (click)="login()">Log in</button>
        </div>
      </div>
    </div>
  </div>
</div>

